{% extends 'themes/base_visitor.html.twig' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block keywords %}{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Mon espace administrateur</h1>
{% endblock %}