{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Blog{% endblock %}

{% block description %}Page des différents articles du blog| dwwm20{% endblock %}

{% block keywords %}Blog, liste, articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5 fw-bold">Blog - Liste des articles</h1>
{% endblock %}