{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Contactez-moi{% endblock %}

{% block description %}Page de prise de contact du projet blog en Symfony 7 | dwwm20{% endblock %}

{% block keywords %}Blog, contact, email, formulaire, numéro de téléphone{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5 fw-bold">Comment me joindre ?</h1>
{% endblock %}