{% extends "themes/user.html.twig" %}

{% block title %}Espace utilisateur{% endblock %}
{% block description %}Espace reservé aux utilisateurs{% endblock %}
{% block keywords %}espace-utilisateur, blog{% endblock %}
{% block main %}

    <h1 class="text-center my-3 display-5">Mon espace utilisateur</h1>

{% endblock %}