{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Page d'accueil du projet blog en Symfony 7 | dwwm20{% endblock %}

{% block keywords %}Blog, accueil, articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5 fw-bold">Accueil du blog</h1>
{% endblock %}